<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paintee.common.repository.mapper.RewardMapper">
  <resultMap id="BaseResultMap" type="com.paintee.common.repository.entity.Reward">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="earm_requested_money" jdbcType="INTEGER" property="earmRequestedMoney" />
    <result column="reward_status" jdbcType="CHAR" property="rewardStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    "user_id", "account_no", "account_name", "earm_requested_money", "reward_status"
  </sql>
  <select id="selectByExample" parameterType="com.paintee.common.repository.entity.RewardExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from "tb_reward"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.paintee.common.repository.entity.RewardExample">
    delete from "tb_reward"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.paintee.common.repository.entity.Reward">
    insert into "tb_reward" ("user_id", "account_no", "account_name", 
      "earm_requested_money", "reward_status")
    values (#{userId,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, 
      #{earmRequestedMoney,jdbcType=INTEGER}, #{rewardStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.paintee.common.repository.entity.Reward">
    insert into "tb_reward"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        "user_id",
      </if>
      <if test="accountNo != null">
        "account_no",
      </if>
      <if test="accountName != null">
        "account_name",
      </if>
      <if test="earmRequestedMoney != null">
        "earm_requested_money",
      </if>
      <if test="rewardStatus != null">
        "reward_status",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="earmRequestedMoney != null">
        #{earmRequestedMoney,jdbcType=INTEGER},
      </if>
      <if test="rewardStatus != null">
        #{rewardStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.paintee.common.repository.entity.RewardExample" resultType="java.lang.Integer">
    select count(*) from "tb_reward"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update "tb_reward"
    <set>
      <if test="record.userId != null">
        "user_id" = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.accountNo != null">
        "account_no" = #{record.accountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.accountName != null">
        "account_name" = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.earmRequestedMoney != null">
        "earm_requested_money" = #{record.earmRequestedMoney,jdbcType=INTEGER},
      </if>
      <if test="record.rewardStatus != null">
        "reward_status" = #{record.rewardStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update "tb_reward"
    set "user_id" = #{record.userId,jdbcType=VARCHAR},
      "account_no" = #{record.accountNo,jdbcType=VARCHAR},
      "account_name" = #{record.accountName,jdbcType=VARCHAR},
      "earm_requested_money" = #{record.earmRequestedMoney,jdbcType=INTEGER},
      "reward_status" = #{record.rewardStatus,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.paintee.common.repository.entity.Reward">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="earm_requested_money" jdbcType="INTEGER" property="earmRequestedMoney" />
    <result column="reward_status" jdbcType="CHAR" property="rewardStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    "user_id", "account_no", "account_name", "earm_requested_money", "reward_status"
  </sql>
  <select id="selectByExample" parameterType="com.paintee.common.repository.entity.RewardExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from "tb_reward"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.paintee.common.repository.entity.RewardExample">
    delete from "tb_reward"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.paintee.common.repository.entity.Reward">
    insert into "tb_reward" ("user_id", "account_no", "account_name", 
      "earm_requested_money", "reward_status")
    values (#{userId,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, 
      #{earmRequestedMoney,jdbcType=INTEGER}, #{rewardStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.paintee.common.repository.entity.Reward">
    insert into "tb_reward"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        "user_id",
      </if>
      <if test="accountNo != null">
        "account_no",
      </if>
      <if test="accountName != null">
        "account_name",
      </if>
      <if test="earmRequestedMoney != null">
        "earm_requested_money",
      </if>
      <if test="rewardStatus != null">
        "reward_status",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="earmRequestedMoney != null">
        #{earmRequestedMoney,jdbcType=INTEGER},
      </if>
      <if test="rewardStatus != null">
        #{rewardStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.paintee.common.repository.entity.RewardExample" resultType="java.lang.Integer">
    select count(*) from "tb_reward"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update "tb_reward"
    <set>
      <if test="record.userId != null">
        "user_id" = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.accountNo != null">
        "account_no" = #{record.accountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.accountName != null">
        "account_name" = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.earmRequestedMoney != null">
        "earm_requested_money" = #{record.earmRequestedMoney,jdbcType=INTEGER},
      </if>
      <if test="record.rewardStatus != null">
        "reward_status" = #{record.rewardStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update "tb_reward"
    set "user_id" = #{record.userId,jdbcType=VARCHAR},
      "account_no" = #{record.accountNo,jdbcType=VARCHAR},
      "account_name" = #{record.accountName,jdbcType=VARCHAR},
      "earm_requested_money" = #{record.earmRequestedMoney,jdbcType=INTEGER},
      "reward_status" = #{record.rewardStatus,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>